body {
    font-family: 'Century Gothic', sans-serif;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #b8d8be;
}

.content{
    top: 15%;
    position: absolute;
    color: #fff;
    margin: 0px 4% 0px 4%;
    width: 100%;
}

.content h1{
    font-size: 70px;
    font-weight: 500;
    margin: 0;
    width: 100%;
    display: block;
}

.content h2{
    font-size: 45px;
    font-weight: 350;
    margin: 0;
}

.content h1 span{
    color: #fd7c6e;
}

.launch-time{
    display:flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -5px;
    text-align: left;
}

.launch-time div span{
    font-size: 20px;
    margin-right: 150px
}

.launch-time p {
    margin: 0
}

.cat-img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .launch-time {
        flex-direction: column;
        margin-top: 30px;
    }

    .launch-time div {
        flex-basis: auto;
        margin-bottom: 20px;
    }
  }
